body,
body * {
margin: 0;
padding: 0;
vertical-align: top;
box-sizing: border-box;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
word-break: break-all;
}
body {
    background-color: rgba(8, 49, 8, 0.89);
}

.container {
    background-color: white;
    width: 75%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
}
.flex-box {
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.row1 {
    background: url(./table.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    height: 550px;
}
.humanSection, .dealerSection{
    border: 1px solid black;
    color: white;
    flex: 1;
}
.row2 {
    background: url(./table.jpg);
    width: 100%;
    border: 1px solid black;
    padding: 10px;
}
.buttons {
    padding: 10px;
    border: 1px solid black;
}
.btn {
    border:1px solid black;
    width: 80px;
    height: 30px;
    font-size: 20px;
    margin: 5px;
    border-radius: 5px;
}
.btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.hit {
    background-color: lightskyblue;
}
.stand {
    background-color: yellow;
}
.deal {
    background-color: lightcoral;
}
.row3{
    display: flex;
    padding: 5px;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
}
table, td, th {
    border: 1px solid black;
    padding: 0;
}